@charset "UTF-8";
/*! ---------------------------------------------------------
Theme Name: 子どもと見るテレビ テンプレート
Theme URI: kodomototv.com
Description: 子どもと見るテレビテンプレート
Author: Masahiro Morodomi
Version: 1.0
----------------------------------------------------------- */
/*! sanitize.css v3.0.0 | CC0 1.0 Public Domain | github.com/10up/sanitize.css */
button,input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button}pre,textarea{overflow:auto}:root,[aria-disabled]{cursor:default}[hidden],audio:not([controls]),template{display:none}button{overflow:visible}details,main,summary{display:block}html{-ms-overflow-style:-ms-autohiding-scrollbar;overflow-y:scroll;-webkit-text-size-adjust:100%}input{-webkit-border-radius:0}input[type=number]{width:auto}input[type=search]{-webkit-appearance:textfield}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}progress{display:inline-block}small{font-size:75%}svg:not(:root){overflow:hidden}textarea{resize:vertical}*,:after,:before{box-sizing:inherit;border-style:solid;border-width:0}*{font-size:inherit;line-height:inherit;background-repeat:no-repeat;margin:0;padding:0}:after,:before{text-decoration:inherit;vertical-align:inherit}:root{background-color:#fff;box-sizing:border-box;color:#000;font:100%/1.5 sans-serif;text-rendering:optimizeLegibility}a{text-decoration:none}audio,canvas,iframe,img,svg,video{vertical-align:middle}button,input,select,textarea{background-color:transparent;color:inherit;font-family:inherit;font-style:inherit;font-weight:inherit}[type=button],[type=password],[type=tel],[type=text],[type=time],[type=url],[type=week],[type=reset],[type=submit],[type=number],[type=search],[type=date],[type=datetime],[type=datetime-local],[type=email],[type=month],button,select,textarea{min-height:1.5em}code,kbd,pre,samp{font-family:monospace,monospace}nav ol,nav ul{list-style:none}select{-moz-appearance:none;-webkit-appearance:none}select::-ms-expand{display:none}select::-ms-value{color:currentColor}table{border-collapse:collapse;border-spacing:0}::-moz-selection{background-color:#b3d4fc;color:#4c2b03;text-shadow:none}::selection{background-color:#b3d4fc;color:#4c2b03;text-shadow:none}[aria-busy=true]{cursor:progress}[aria-controls]{cursor:pointer}[hidden][aria-hidden=false]{clip:rect(0 0 0 0);display:inherit;position:absolute}[hidden][aria-hidden=false]:focus{clip:auto}

$text-color: #292f33;
$link-color: #4682b4;
$link-hover-color: #2bbbbb;
$background-color: #f6f8fa;
$content-bg-color: #ffffff;
$theme-color: #f5f5f5;
$effect-color: #3597ed;
$effect-hover-color: #3597fe;
$effect-link-color: #ffffff;
$footer-bg-color: #333;
$footer-text-color: #fff;

html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
    height: 100%;
}
* {
  font-family: Arial,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
  padding: 0px;
  margin: 0px;
}
body {
    min-width: 320px;
    word-wrap: break-word;
    background-color: $background-color;
    color: $text-color;
}
a {
    color: $link-color;
    &:hover {
        color: $link-hover-color;
        text-decoration: underline;
    }
}
img, video, object {
    max-width: 100%;
    height: auto;
    border: none;
    vertical-align: bottom;
    display: block;
}
a:hover img {
    -moz-opacity: 0.8;
    opacity: 0.8;
}
.clearfix {
    zoom: 1;
    &:after {
        content: "";
        display: block;
        clear: both;
    }
}
.youtube-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
#content {
    width: 980px;
    margin: 0 auto;
    @media screen and(max-width:980px) {
        width: 100%;
    }
    #content-inner {
        float: left;
        width: 100%;
        margin-right: -300px;
        @media screen and(max-width:980px) {
            float: none;
            width: 100%;
            margin-left: 0px;
        }
        main {
            margin: 10px 320px 10px 0px;
            background-color: $content-bg-color;
            border-radius: 5px;
            @media screen and(max-width: 980px) {
                width: 100%;
            }
        }
    }
    div#side {
        width: 300px;
        float: right;
        margin-top: 10px;
        margin-bottom: 10px;
        @media screen and(max-width:980px) {
            width: 100%;
            float: none;
        }

        aside>ul>li {
            list-style-type: none;
            margin: 0 0 20px 0;
            padding: 0;
            background-color: $content-bg-color;

            h2.widget-title {
                color: $effect-link-color;
                background-color: $effect-color;
                padding-left: 10px;
            }
            ul {
                padding: 10px 10px 10px 30px;
                li {
                    font-size: 10pt;
                    padding-bottom: 5px;
                    a {
                        font-size: 12pt;
                    }
                }
            }
        }
    }
}

header {
    background-color: $background-color;
    height: 100px;
    .fixbar {
        position: absolute;
        background-color: $background-color;
        width: 100%;
        top: 50px;
        z-index: 1000;
        h1 {
            display: inline-block;
            margin: 10px 0 0 10px;
            font-size: 20pt;
            line-height: 30px;
        }
        .sp-header-menu {
            display: none;
            @media screen and(max-width:980px) {
                display: inline-block;
                float: right;
            }
            .fa {
                display: inline-block;
                font-size: 25pt;
                line-height: 25px;
                text-rendering: auto;
                margin: 10px;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
            .fa-bars:before {
                content:"\f0c9";
                font-family: FontAwesome;
            }
        }
        .header-menu {
            display: inline-block;
            @media screen and(max-width:980px) {
                display: none;
            }
            .dropdown {
                position: relative;
                display: inline-block;
                margin: 0 15px;
                span {
                    font-weight: bold;
                    padding-bottom: 5px;
                }
                .dropdown-content {
                    display: none;
                    position: absolute;
                    background-color: $effect-color;
                    min-width: 160px;
                    box-shadown: 0px 8px 16px 0px rgba(0,0,0,0.2);
                    padding-left: 15px;
                    z-index: 200;
                    a {
                        color: $effect-link-color;
                        padding: 5px 16px;
                        font-weight: bold;
                        display: block;
                    }
                }
                &:hover .dropdown-content {
                    display: block;
                }
            }
        }
    }
    &.fixed {
        .fixbar {
            position: fixed;
            background-color: $background-color;
            top: 0; 
        }
    }
    .header-top {
        p {
            line-height: 50px;
            padding: 0 0 0 10px;
            @media screen and(max-width:660px) {
                line-height: 25px;
            }
        }
    }
}
footer {
    width: 100%;
    text-align: center;
    background-color: $footer-bg-color;
    padding: 20px 0;
    color: $footer-text-color;
    .taxonomy {
        .footer-taxonomy {
            vertical-align: top;
            width: 25%;
            display: inline-block;
            span {
                font-weight: bold;
            }
            .term {
                a {
                    display: block;
                    color: $footer-text-color;
                    margin: 5px 10px;
                }
            }
        }
        &:after {
            content: "";
            display: block;
            clear: both;
        }
    }
    .copyright {
        padding-top: 10px;
        a {
            color: $footer-text-color;
        }
    }
}

/* 検索フォーム
 * ----------------------------*/
div#search {
    padding-top: 5px;
    padding-bottom: 0px;
    position: relative;
    width: 300px;
    margin-right: 20px;
    float: right;
    @media screen and(max-width:980px) {
        display: none;
    }
    #s {
        height: 33px;
        color: #333;
        font-size: 14pt;
        background-color: #ccc;
        z-index: 10;
        padding: 5px 65px 10px 5px;
        width: 300px;
        box-sizing: border-box;
    }
    #searchsubmit {
        border-radius: 0;
        background-color: $effect-color;
        position: absolute;
        right: 0;
        top: 5px;
        width: 50px;
        height: 32px;
        z-index: 20;
    }
}

/* Breadcrumb
 * ----------------------------*/
#breadcrumb {
    font-size: 12pt;
    padding: 10px 0 20px;
    margin: 0;
    clear: both;
    a {
        color: $link-color;
        &:hover {
            color: $link-hover-color;
        }
    }
    div {
        display: inline;
    }
}
#pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
    li {
        display: inline;
        a {
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            &.active {
                background-color: $effect-color;
                color: $effect-link-color;
            }
            &:hover:not(.active) {
                background-color: $effect-hover-color;
                color: $effect-link-color;
            }
        }
    }
}

/* Home
 * ----------------------------*/
@mixin topics {
    width: 300px;
    margin: 10px 15px;
    display: inline-block;
    vertical-align: top;
    @media screen and(max-width:980px) {
        width: 45%;
        margin: 10px 2.5%;
    }
    @media screen and(max-width:660px) {
        width: 100%;
        margin: 10px 0px;
    }
}
div#pickup, div#upcoming {
    @include topics;
    h2.category-title {
        color: $effect-link-color;
        background-color: $effect-color;
        padding: 0 10px;
        display: inline-block;
    }
    div.category-underline {
        width: 100%;
        height: 3px;
        margin-bottom: 10px;
        background-color: $effect-color;
    }
    div.pickup-item {
        width: 300px;
        height: 101px;
        margin-bottom: 5px;
        border-bottom: 1px solid $effect-color;
        @media screen and(max-width: 980px) {
            width: 100%;
        }
        div.pickup-text {
            position: relative;
            width: 200px;
            height: 100px;
            margin: 0px;
            padding: 10px;
            float: left;
            @media screen and(max-width:980px) {
                width: -webkit-calc(100% - 100px);
                width: calc(100% - 100px);
            }
            div.pickup-description {
                position: absolute;
                bottom: 0;
            }
            span.start-time {
                font-size: 10pt;
            }
            a.taxonomy {
                font-size: 10pt;
            }
        }
        div.pickup-thumbnail {
            width: 100px;
            height: 100px;
            float: right;
        }
    }
}
div.genre {
    width: 200px;
    margin: 10px;
    display: inline-block;
    vertical-align: top;
    @media screen and(max-width:980px) {
        width: 45%;
        margin: 10px 2.5%;
    }
    @media screen and(max-width:660px) {
        width: 100%;
        margin: 10px 0;
    }

    h2.genre-title {
        background-color: $effect-color;
        display: inline-block;
        a {
            padding: 0 10px;
            color: $effect-link-color;
        }
    }
    div.genre-underline {
        width: 100%;
        height: 3px;    
        background: $effect-color;
    }
    div.genre-item {
        width: 200px;
        height: 75px;
        border-bottom: 1px solid $effect-color;
        @media screen and(max-width:980px) {
            width: 100%;
        }
        &:after {
            content: "";
            display: block;
            clear: both;
        }
        div.genre-text {
            position: relative;
            width: 150px;
            height: 75px;
            padding: 5px;
            float: left;
            @media screen and(max-width:980px) {
                width: -webkit-calc(100% - 70px);
                width: calc(100% - 70px);
            }
            h3 {
                font-size: 10pt;
                font-weight: none;
            }
            p.start-time {
                position: absolute;
                bottom: 0;
                font-size: 8pt;
            }
        }
        div.genre-thumbnail {
            float: right;
            margin: 12.5px 0px;
            @media screen and (max-width:980px) {
                margin: 12.5px 10px;
            }
        }
    }
    div.read-more {
        float: right;
        font-size: 10pt;
    }
}

#post-list {
    .post {
        width: 100%;
        border-bottom: 1px solid $effect-color;
        margin-bottom: 5px;
        .post-description {
            position: relative;
            float: left;
            width: 540px;
            height: 100px;
            padding-top: 10px;
            padding-left: 5px;
            @media screen and(max-width:980px) {
                width: -webkit-calc(100% - 100px);
                width: calc(100% - 100px);
                padding-top: 5px;
            }
            &>a {
                font-size: 16pt;
                padding-left: 5px;
                border-left: 10px solid $effect-color;
                @media screen and(max-width:660px) {
                    font-size: 12pt;
                }
            }
            .start-time {
                position: absolute;
                width: 150px;
                bottom: 0;
                line-height: 15px;
                font-size: 10pt;
                @media screen and(max-width:980px) {
                    bottom: 15px;
                }
            }
            .taxonomies {
                position: absolute;
                width: 300px;
                margin-left: 150px;
                line-height: 15px;
                bottom: 0;
                @media screen and(max-width:980px) {
                    margin-left: 0px;
                }
                .taxonomy {
                    display: inline-block;
                    line-height: 15px;
                    font-size: 10pt;
                    margin-right: 10px;
                }
            }
        }
        .post-thumbnail {
            float: right;
        }
    }
}

#entry {
    margin: 10px;
    h1#entry-title {
        font-size: 16pt;
        color: $effect-color;
        border-left: 10px solid $effect-color;
        border-bottom: 5px solid $effect-color;
        padding-left: 10px;
        margin-bottom: 5px;
    }
    #taxonomy {
        ul {
            display: inline-block;
            list-style: none;
            margin: 0px 10px;
            &#target-age {
                margin-right: 0px;
            }
            li {
                display: inline-block;
                &:after {
                    content: "/";
                }
                &:last-child:after {
                    content: "";
                }
            }
        }
    }
    #thumbnail {
        margin: 10px 0px;
    }
}

#related-posts {
    h3 {
        background-color: $effect-color;
        color: $effect-link-color;
        padding: 5px 0 5px 20px;
        font-size: 14pt;
    }
    .related-post {
        border-bottom: 1px solid $effect-color;
        margin-bottom: 5px;
        height: 106px;
        padding-left: 10px;
        padding-top: 5px;
        .related-post-description {
            position: relative;
            width: -webkit-calc(100% - 105px);
            width: calc(100% - 105px);
            height: 100px;
            float: left;
            h4 {
            }
            .start-time {
                position: absolute;
                font-size: 12pt;
                bottom: 0px;
            }
        }
        img {
            float:right;
        }
        &:after {
            content: "";
            display: block;
            clear: both;
        }
    }
}

/* Contact Form 7
----------------------------------*/
input.wpcf7-form-control, textarea.wpcf7-form-control{
    width: 100%;
    padding: 12px 20px;
    border: 2px solid #333;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 0 0 10px 0;
    &.wpcf7-submit  {
      width: auto;
      text-align: center;
      &:hover {
        background-color: #CCC;
      }
    }
}

/* Comments
----------------------------------*/
#comments {
    font-size: 14px;
    line-height: 20px;
    color: $text-color;
    background-color: $content-bg-color;
    margin-bottom: 20px;
    h3 {
        background-color: $effect-color;
        color: $effect-link-color;
        padding: 5px 0px 5px 20px;
        font-size: 14pt;
    }
    .comments-list {
        li {
            margin: 10px 20px 10px 20px;
            .comment-body {
                .comment-author, .comment-meta {
                    display: inline-block;
                    a {
                        color: $text-color;
                        text-decoration: none;
                    }
                }
                p {
                    margin: 10px 0px;
                    font-size: 12pt;
                }
                .reply {
                    float: right;
                    a {
                        padding: 6px 10px;
                        border: 1px solid #ccc;
                        border-radius: 2px;
                        background-color: $effect-color;
                        color: $effect-link-color;
                        &:hover {
                            color: $effect-hover-color;
                        }
                    }
                }
                &:after {
                    content: "";
                    display: block;
                    clear: both;
                }
            }
        }
    }
    #respond {
        h3 {
            a {
                color: $effect-link-color;
            }
            small {
                float: right;
                margin-right: 20px;
            }
        }
        p {
            margin: 5px 10px;
            label {
                display: block;
            }
            input,textarea {
                width: 100%;
                padding: 12px 20px;
                border: 1px solid #000;
                border-radius: 4px;
                box-sizing: border-box;
                margin: 0 0 10px 0;
                &#submit {
                    width: auto;
                    text-align: center;
                    &:hover {
                        background-color: #CCC;
                    }
                }
            }
        }
    }
}
